<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<title>闲言碎语-个人博客</title>
<meta name="keywords" content="个人博客" />
<meta name="description" content="" />
<link rel="stylesheet" href="css/index.css"/>
<link rel="stylesheet" href="css/style.css"/>
<script type="text/javascript" src="js/jquery1.42.min.js"></script>
<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<![endif]-->
</head>

<body>
    <!--header start-->
    <div id="header">
      <h1>个人博客</h1>
      <p>当一个人变得成熟时，就会沉默，因为不愿意与别人纠缠浪费时间</p>
      <div id="nav">
         <ul>
         <li><a href="index.html">首页</a></li>
         <li><a href="about.html">关于我</a></li>
         <li><a href="shuo.html">碎言碎语</a></li>
         <li><a href="riji.html">个人日记</a></li>
         <li><a href="xc.html">相册展示</a></li>
         <li><a href="learn.html">学无止境</a></li>
         <li><a href="guestbook.html">留言板</a></li>
         <div class="clear"></div>
        </ul>
      </div>
    </div>
    <!--header end-->
    <!--content start-->
    <div id="say">
     <div class="weizi">
           <div class="wz_text">当前位置：<a href="#">首页</a>><h1>碎言碎语</h1></div>
           </div>
          <ul class="say_box">
                     <div class="sy">
                         <p>人到中年，应该懂得减法</p>
                     </div>
                  <span class="dateview">2020-8-5</span>
          </ul>
          <ul class="say_box">
                     <div class="sy">
                         <p> 学无止境，活到老学到老，不断学习是前进的动力 </p>
                     </div>
                  <span class="dateview">2020-8-5</span>
          </ul>
          <ul class="say_box">
                     <div class="sy">
                         <p> 不怕困难 机会只是给有准备的人的。不要在无畏的事情上浪费时间.</p>
                     </div>
                  <span class="dateview">2020-8-5</span>
          </ul>
          <ul class="say_box">
                     <div class="sy">
                         <p>危机来临，只需要比别人跑的更快一点。</p>
                     </div>
                  <span class="dateview">2020-8-5</span>
          </ul>
     </div>
    <!--content end-->
    <!--footer-->
    <div id="footer">
     <p>Design by:杰克罗宾 2020-8-5</p>
    </div>
    <!--footer end-->
    <script type="text/javascript">jQuery(".lanmubox").slide({easing:"easeOutBounce",delayTime:400});</script>
    <script  type="text/javascript" src="js/nav.js"></script>
</body>
</html>
